:host {
    display: block;
}

.required-star::after {
    content: " *";
    color: var(--red-500);
}

::ng-deep .p-sidebar .p-sidebar-header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--surface-border);
}

::ng-deep .p-sidebar .p-sidebar-content {
    padding: 0 !important;
}