:host {
    display: block;
}

.required-star::after {
    content: " *";
    color: var(--red-500);
}

// Custom Scrollbar for the modal content
.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
    }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: var(--surface-300);
            border-radius: 20px;
        }
        }
    
        // Ensure proper spacing for the slim footer
        :host ::ng-deep .p-dialog-content {
    padding: 0 !important;
    border-radius: 0 !important;
    }
    
    :host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
}