/* خلفية داكنة */
body {
    background-color: #1e1e1e !important;
}

/* لون النص */
.swagger-ui,
.swagger-ui .info,
.swagger-ui .opblock-summary-description,
.swagger-ui .opblock-summary-path {
    color: #fff !important;
}

    /* عنوان API */
    .swagger-ui .topbar-wrapper .link span {
        color: #fff !important;
        font-size: 20px;
    }

    /* شريط أعلى بلون احترافي */
    .swagger-ui .topbar {
        background-color: #0d6efd !important;
    }

    /* صندوق الـ Request */
    .swagger-ui .opblock {
        border-radius: 12px;
    }

    /* أزرار */
    .swagger-ui .btn {
        border-radius: 8px !important;
    }
