<div class="grid" dir="rtl">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 border-none shadow-2 hover:shadow-4 transition-all h-full relative overflow-hidden">
            <div class="flex justify-content-between mb-3 relative z-1">
                <div>
                    <span class="block text-500 font-medium mb-3">الطلبات</span>
                    <div class="text-color font-bold text-3xl">152</div>
                </div>
                <div class="flex align-items-center justify-content-center border-round-xl"
                    [style]="{'background': 'var(--surface-hover)', 'width': '3.5rem', 'height': '3.5rem'}">
                    <i class="pi pi-file-edit text-blue-500 text-2xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium flex align-items-center gap-1"><i
                    class="pi pi-arrow-up text-xs"></i> 24 جديد </span>
            <span class="text-500">منذ آخر زيارة</span>
            <!-- Decor -->
            <div class="absolute w-6rem h-6rem border-circle opacity-10"
                [style]="{'background': 'var(--primary-color)', 'right': '-20px', 'bottom': '-20px'}"></div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 border-none shadow-2 hover:shadow-4 transition-all h-full relative overflow-hidden">
            <div class="flex justify-content-between mb-3 relative z-1">
                <div>
                    <span class="block text-500 font-medium mb-3">الإيرادات</span>
                    <div class="text-color font-bold text-3xl">$2.100</div>
                </div>
                <div class="flex align-items-center justify-content-center border-round-xl"
                    [style]="{'background': 'var(--surface-hover)', 'width': '3.5rem', 'height': '3.5rem'}">
                    <i class="pi pi-dollar text-orange-500 text-2xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium flex align-items-center gap-1"><i
                    class="pi pi-arrow-up text-xs"></i> %52+ </span>
            <span class="text-500">منذ الأسبوع الماضي</span>
            <!-- Decor -->
            <div class="absolute w-6rem h-6rem border-circle opacity-10"
                [style]="{'background': 'var(--primary-color)', 'right': '-20px', 'bottom': '-20px'}"></div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 border-none shadow-2 hover:shadow-4 transition-all h-full relative overflow-hidden">
            <div class="flex justify-content-between mb-3 relative z-1">
                <div>
                    <span class="block text-500 font-medium mb-3">العملاء</span>
                    <div class="text-color font-bold text-3xl">28,441</div>
                </div>
                <div class="flex align-items-center justify-content-center border-round-xl"
                    [style]="{'background': 'var(--surface-hover)', 'width': '3.5rem', 'height': '3.5rem'}">
                    <i class="pi pi-user-plus text-cyan-500 text-2xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium flex align-items-center gap-1"><i
                    class="pi pi-arrow-up text-xs"></i> 520 </span>
            <span class="text-500">مسجل حديثاً</span>
            <!-- Decor -->
            <div class="absolute w-6rem h-6rem border-circle opacity-10"
                [style]="{'background': 'var(--primary-color)', 'right': '-20px', 'bottom': '-20px'}"></div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 border-none shadow-2 hover:shadow-4 transition-all h-full relative overflow-hidden">
            <div class="flex justify-content-between mb-3 relative z-1">
                <div>
                    <span class="block text-500 font-medium mb-3">التعليقات</span>
                    <div class="text-color font-bold text-3xl">152</div>
                </div>
                <div class="flex align-items-center justify-content-center border-round-xl"
                    [style]="{'background': 'var(--surface-hover)', 'width': '3.5rem', 'height': '3.5rem'}">
                    <i class="pi pi-comment text-purple-500 text-2xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium flex align-items-center gap-1"><i class="pi pi-check text-xs"></i>
                85 </span>
            <span class="text-500">تم الرد</span>
            <!-- Decor -->
            <div class="absolute w-6rem h-6rem border-circle opacity-10"
                [style]="{'background': 'var(--primary-color)', 'right': '-20px', 'bottom': '-20px'}"></div>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>المبيعات الأخيرة</h5>
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>نظرة عامة على الفئات</h5>
            <p-chart type="doughnut" [data]="pieData" [options]="pieOptions"></p-chart>
        </div>
    </div>
</div>