.movement-form {
    padding: 0.5rem;

    .field {
        label {
            color: var(--text-color);

            span.text-danger {
                color: #e24c4c;
            }
        }
    }
}