:host {
    display: block;
    margin-bottom: 2rem;
}

.bg-red-50 {
    background-color: #fef2f2 !important;
}

.bg-orange-50 {
    background-color: #fffaf0 !important;
}

::ng-deep {
    .p-datatable .p-datatable-tbody>tr>td {
        padding: 0.75rem 1rem;
    }
}

.list-container {
    padding: 20px;
}